<div class="container p-3 center d-flex justify-content-center align-items-center">
    <div [ngClass]="[editStudent ? 'row edit-student' : 'row add-student']">
        <h1>{{editStudent ? 'Edit Student' : 'Add Student'}}</h1> 
        <form action="" class="student-form" [formGroup]="studentForm" (ngSubmit)="addStudent()" autocomplete="off">
            <div class="form-field-custom">
                <mat-form-field appearance="outline" class="student-field">
                    <mat-label>Student ID</mat-label>
                    <input matInput formControlName="id">
                    <mat-error *ngIf="studentForm.get('id')?.hasError('required')">
                        Student ID is required*
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="student-field">
                    <mat-label>Student Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="studentForm.get('name')?.hasError('required')">
                        Student Name is required*
                    </mat-error>
                </mat-form-field>
            </div>
            <button class="" [ngClass]="[editStudent ? 'edit-btn btn btn-primary' : 'btn btn-primary add-btn']" type="submit">{{editStudent ? 'Update Student' : 'Add Student'}}</button>
        </form>
    </div>
</div>
<hr>
<div>
    <app-table [displayedColumns]="['StudentID', 'StudentName', 'actions']"
    [rowData]="studentData"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"></app-table>
</div>
  
