<div class="row text-center mt-4">
    <div class="col-md-4">
      <div class="card bg-light p-4">
        <h4>Customers</h4>
        <h2>{{ customerCount }}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light p-4">
        <h4>Users</h4>
        <h2>{{ userCount }}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light p-4">
        <h4>Students</h4>
        <h2>{{ studentCount }}</h2>
      </div>
    </div>
  </div>
  <br>
  <div class="canvas-container">
    <canvas id="myChart"></canvas>
  </div>
