.canvas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

canvas#myChart {
    max-width: 100%;
    height: 500px !important;
}