<div class="sidebar-container w-100">
    <img src="assets/logo.png" alt="Logo" width="200">
    <ul class="tab-container">
        <li class="tab-element" routerLink="/dashboard/analytics" routerLinkActive="active-link">ANALYTICS</li>
        <li class="tab-element" routerLink="/dashboard/customer" routerLinkActive="active-link">CUSTOMER</li>
        <li class="tab-element" routerLink="/dashboard/student" routerLinkActive="active-link">STUDENT</li>
        <li class="tab-element" routerLink="/dashboard/user" routerLinkActive="active-link">USER</li>
    </ul>
    <button type="button" (click)="logout()" class="btn-danger btn logout-btn">Logout</button>
</div>
