<div class="table-container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter">
    </mat-form-field>
  
    <mat-table [dataSource]="dataSource" class="table-class" matSort>
  
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- If column is 'actions', show buttons -->
          <ng-container *ngIf="column === 'actions'; else normalCell">
            <button mat-icon-button color="primary" (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-template #normalCell>
            {{ element[column] }}
          </ng-template>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
    <br>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
